section(class='care')
    div(class='container')
        div(class='row right-lg right-md right-xs')
            div(class='col-md-offset-7 col-md-5')
                h2(class="care__title") Notre conciergerie s’occupe de tout
                p(class="care__text") La gestion de votre location saisonnière clé en main :
            div(class='row center-lg center-md care__icones')
                div(class='col-lg-2 col-md-2 col-xs-12')
                    img(src='img/home.png' alt='icône' class='care__img')
                    h4(class='care__subtitle') Création et optimisation de votre annonce Airbnb
                div(class='col-lg-2 col-md-2 col-xs-12')
                    img(src='img/home.png' alt='icône' class='care__img')
                    h4(class='care__subtitle') Création et optimisation de votre annonce Airbnb
                div(class='col-lg-2 col-md-2 col-xs-12')
                    img(src='img/home.png' alt='icône' class='care__img')
                    h4(class='care__subtitle') Création et optimisation de votre annonce Airbnb
                div(class='col-lg-2 col-md-2 col-xs-12')
                    img(src='img/home.png' alt='icône' class='care__img')
                    h4(class='care__subtitle') Création et optimisation de votre annonce Airbnb
                div(class='col-lg-2 col-md-2 col-xs-12')
                    img(src='img/home.png' alt='icône' class='care__img')
                    h4(class='care__subtitle') Création et optimisation de votre annonce Airbnb
                div(class='col-lg-2 col-md-2 col-xs-12')
                    img(src='img/home.png' alt='icône' class='care__img')
                    h4(class='care__subtitle') Création et optimisation de votre annonce Airbnb
