section(class='footer')
    div(class='container')
        div(class='row right-lg right-md between-xs')
            div(class='col-lg-3 col-md-3 col-xs-3')
                img(src='img/home.png' alt='home' class='footer__img')
            div(class='col-lg-3 col-md-3 col-xs-3')
                img(src='img/home.png' alt='home' class='footer__img')
            div(class='col-lg-3 col-md-3 col-xs-3')
                img(src='img/home.png' alt='home' class='footer__img')
            div(class='col-lg-3 col-md-3 col-xs-3')
                img(src='img/home.png' alt='home' class='footer__img')
        div(class='row')
            div(class='col-lg-6 col-md-6 col-xs-12')
                img(src='img/home.png' alt='home' class='footer__img__logo')
                p(class='footer__tex') HostnFly est bien plus qu’une simple conciergerie Airbnb. HostnFly offre une gestion clé en main de vos locations saisonnières en s’occupant de toute la logistique liée à la location Airbnb (ménage, accueil des voyageurs, maintenance…) et en maximisant vos revenus. Nous sommes la conciergerie Airbnb numéro 1 à Paris, Lyon et Marseille et avons permis à plus de 2000 personnes de devenir hôte Airbnb et de partir plus loin, plus longtemps, plus souvent.
            div(class='col-lg-2 col-md-2 col-xs-12')
                p(class='footer__subtitle') Tout savoir sur Hostnfly
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
            div(class='col-lg-2 col-md-2 col-xs-12')
                p(class='footer__subtitle') Tout savoir sur Hostnfly
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
            div(class='col-lg-2 col-md-2 col-xs-12')
                p(class='footer__subtitle') Tout savoir sur Hostnfly
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?
                a(href='#' class='footer__text') Qui sommes-nous ?