section(class='number')
    div(class='container')
        div(class='row center-lg center-md center-xs')
            div(class='col')
                h2(class='number__title') HostnFly, 1er service de conciergerie Airbnb en France
        div(class='row')
            div(class='col-lg-4 col-md-4 col-xs-12 number__section')
                p(class='number__stat') 2 000
                p(class='number__text') Appartements et gestion
            div(class='col-lg-4 col-md-4 col-xs-12 number__section')
                p(class='number__stat') 70 000
                p(class='number__text') Voyageurs accueillis
            div(class='col-lg-4 col-md-4 col-xs-12 number__section')
                p(class='number__stat') 10 M€
                p(class='number__text') De revenus gagnés par clients