section(class='partnership')
    div(class='container')
        div(class='row center-lg between-md between-xs')
            div(class='col-lg-4 col-md-4 col-xs-4')
                img(src='img/home.png' alt='home' class='partnership__img')
            div(class='col-lg-4 col-md-4 col-xs-4')
                img(src='img/home.png' alt='home' class='partnership__img')
            div(class='col-lg-4 col-md-4 col-xs-4')
                img(src='img/home.png' alt='home' class='partnership__img')
            