section(class='question')
    h2(class='question__tilte') Confier son logement n’est pas anodin, c’est normal d’avoir des questions :
    div(class='container')
        div(class='row')
            div(class='col-lg-6 col-md-6 col-xs-12 question__box')
                div(class='row')
                    div(class='col-lg-10 col-md-10 col-xs-10')
                        p(class="question__text") Quels sont vos tarifs ?
                    div(class='col-lg-2 col-md-2 col-xs-2')
                        img(src='img/home.png' alt='home' class='question__img')
            div(class='col-lg-6 col-md-6 col-xs-12 question__box')
                div(class='row')
                    div(class='col-lg-10 col-md-10 col-xs-10')
                        p(class="question__text") Quels sont vos tarifs ?
                    div(class='col-lg-2 col-md-2 col-xs-2')
                        img(src='img/home.png' alt='home' class='question__img')
            div(class='col-lg-6 col-md-6 col-xs-12 question__box')
                div(class='row')
                    div(class='col-lg-10 col-md-10 col-xs-10')
                        p(class="question__text") Quels sont vos tarifs ?
                    div(class='col-lg-2 col-md-2 col-xs-2')
                        img(src='img/home.png' alt='home' class='question__img')
            div(class='col-lg-6 col-md-6 col-xs-12 question__box')
                div(class='row')
                    div(class='col-lg-10 col-md-10 col-xs-10')
                        p(class="question__text") Quels sont vos tarifs ?
                    div(class='col-lg-2 col-md-2 col-xs-2')
                        img(src='img/home.png' alt='home' class='question__img')
            div(class='col-lg-6 col-md-6 col-xs-12 question__box')
                div(class='row')
                    div(class='col-lg-10 col-md-10 col-xs-10')
                        p(class="question__text") Quels sont vos tarifs ?
                    div(class='col-lg-2 col-md-2 col-xs-2')
                        img(src='img/home.png' alt='home' class='question__img')
            div(class='col-lg-6 col-md-6 col-xs-12 question__box')
                div(class='row')
                    div(class='col-lg-10 col-md-10 col-xs-10')
                        p(class="question__text") Quels sont vos tarifs ?
                    div(class='col-lg-2 col-md-2 col-xs-2')
                        img(src='img/home.png' alt='home' class='question__img')
    div(class='question__details')
        p(class='question__details_text') D'autres question ? Plus de réponses ici
        p(class='question__details__text') Vous pouvez aussi nous contacter directement par mail à client@hostnfly.com
        p(class='question__details__text') ou nous appeler au 01 86 76 12 82