section(class='values')
    div(class='container')
        div(class='row center-lg center-md center-xs around-lg')
            div(class='col-lg-4 col-md-4 col-xs-12')
                div(class='row center-lg center-md center-xs')
                    img(src='img/home.png' alt='home' class='values__img')
                h3(class='values__title') Revenu maximisé
                p(class='values__text') On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.
                div(class='col-lg-4 col-md-4 col-xs-12')
                div(class='row center-lg center-md center-xs')
                    img(src='img/home.png' alt='home' class='values__img')
                h3(class='values__title') Revenu maximisé
                p(class='values__text') On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.
                div(class='col-lg-4 col-md-4 col-xs-12')
                div(class='row center-lg center-md center-xs')
                    img(src='img/home.png' alt='home' class='values__img')
                h3(class='values__title') Revenu maximisé
                p(class='values__text') On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.
            
