section(class='view')
    div(class='container')
        div(class='row')
            div(class='col-lg-6 col-md-6 col-xs-12')
                h2(class='view__title') Ils nous ont confié la gestion de leur location :
                a(href='#' class='view__link') Voir tous les avis utilisateurs
            div(class='col-lg-6 col-md-6 col-xs-12 view__box')
                div(class='view__star')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                p(class='view__text') “C’est juste parfait ! En fait, c’est simple : Hostnfly s’occupe de tout ! Le photographe vient (réelle flexibilité), l’annonce est faite. On remet les clés à 2 pas de chez soi et même pas de grand ménage à faire ou de draps à préparer : hostnfly s’occupe vraiment DE TOUT. C’est juste parfait ! Merci pour ce service :)“
                div(class='view__profil')
                    div(class='row')
                        div(class='col-lg-3 col-md-3 col-xs-3')
                            img(src='img/home.png' alt='home' class='view__img')
                        div(class='col-lg-9 col-md-9 col-xs-9')
                            p(class='view__name') François
                            p(class='view__description') Habite dans un T2 dans le 10ème arrondissement de Paris
        
        div(class='row')
            div(class='col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-xs-12 view__box')
                div(class='view__star')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                p(class='view__text') “C’est juste parfait ! En fait, c’est simple : Hostnfly s’occupe de tout ! Le photographe vient (réelle flexibilité), l’annonce est faite. On remet les clés à 2 pas de chez soi et même pas de grand ménage à faire ou de draps à préparer : hostnfly s’occupe vraiment DE TOUT. C’est juste parfait ! Merci pour ce service :)“
                div(class='view__profil')
                    div(class='row')
                        div(class='col-lg-3 col-md-3 col-xs-3')
                            img(src='img/home.png' alt='home' class='view__img')
                        div(class='col-lg-9 col-md-9 col-xs-9')
                            p(class='view__name') François
                            p(class='view__description') Habite dans un T2 dans le 10ème arrondissement de Paris

        div(class='row')
            div(class='col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-xs-12 view__box')
                div(class='view__star')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                    img(src='home.png' alt='stars' class='view__star__img')
                p(class='view__text') “C’est juste parfait ! En fait, c’est simple : Hostnfly s’occupe de tout ! Le photographe vient (réelle flexibilité), l’annonce est faite. On remet les clés à 2 pas de chez soi et même pas de grand ménage à faire ou de draps à préparer : hostnfly s’occupe vraiment DE TOUT. C’est juste parfait ! Merci pour ce service :)“
                div(class='view__profil')
                    div(class='row')
                        div(class='col-lg-3 col-md-3 col-xs-3')
                            img(src='img/home.png' alt='home' class='view__img')
                        div(class='col-lg-9 col-md-9 col-xs-9')
                            p(class='view__name') François
                            p(class='view__description') Habite dans un T2 dans le 10ème arrondissement de Paris

                
