doctype html
html
    block head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    
        link(rel="stylesheet" href="../styles/styles.scss")
        title Correction HostnFly

    body
        include partials/values.pug
        include partials/care.pug 
        include partials/number.pug 
        include partials/view.pug 
        include partials/questions.pug
        include partials/partnership.pug 
        include partials/footer.pug